<?xml version="1.0"?>
<config>
    <modules>
        <Divante_Training>
            <version>0.1.0</version>
        </Divante_Training>
    </modules>
    <global>
        <models>
            <divante_training>
                <class>Divante_Training_Model</class>
                <resourceModel>divante_training_resource</resourceModel>
            </divante_training>
            <divante_training_resource>
                <class>Divante_Training_Model_Resource</class>
            </divante_training_resource>
        </models>
        <blocks>
            <divante_training>
                <class>Divante_Training_Block</class>
            </divante_training>
        </blocks>
        <helpers>
            <divante_training>
                <class>Divante_Training_Helper</class>
            </divante_training>
        </helpers>
    </global>
    <frontend>
        <routers>
            <training>
                <use>standard</use>
                <args>
                    <module>Divante_Training</module>
                    <frontName>training</frontName>
                </args>
            </training>
        </routers>
        <events>
            <controller_action_predispatch>
                <observers>
                    <Divante_Training>
                        <class>divante_training/observer</class>
                        <method>beforeController</method>
                    </Divante_Training>
                </observers>
            </controller_action_predispatch>
            <controller_action_postdispatch>
                <observers>
                    <Divante_Training>
                        <class>divante_training/observer</class>
                        <method>afterController</method>
                    </Divante_Training>
                </observers>
            </controller_action_postdispatch>
        </events>
    </frontend>
</config>